    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About CVEU</h2>
                <p>This workshop proposal is for the 1st installmentof the AI for Creative Video Creation andUnderstanding (CVCU).</p>
                <p>The workshop brings togetherresearchers working on computer vision,machine listening, computer graphics, and cognitive research.</p>
                <p>It aims to bring awareness of recentadvances in machine learning technologies that canenable assisted creative-video creation and understanding.</p>
            </div>
        </div>
    </section>
