<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center">About CVEU</h2>
            <p>This workshop is for the 1st installment of the AI for Creative Video Editing and Understanding (CVEU).
            </p>
            <p>The workshop brings together researchers working on computer vision, machine listening, computer
                graphics, Human Computer Interaction, and cognitive research.</p>
            <p>It aims to bring awareness of recent advances in machine learning technologies to enable assisted
                creative-video creation and understanding.</p>
        </div>
    </div>
</section>