<!-- Purpose Section -->
<section id="program" class="content-section text-left">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Program</h2>
                <p>Discuss recent advances in video understanding in the realm of video creation and editing. Some of
                    the topics that we plan to discuss are:</p>
                <p>Would AI kill video editing jobs?</p>
                <p>Can AI make humans reduce the cost of video productions?</p>
                <p>Are there any biases and threads by using AI in this field?</p>
                <p>Detailed program: TBD</p>
                <br />
                <h3>Keynote Speakers</h3>
                <!-- <hr /> -->
                <div class="row">
                    {% for person in site.speaker %}
                    <div class="col-lg-2">

                        <div class="person-image">
                            <img src="{{ person.avatar }}" class="person-avatar" width="100%" height="100%">
                        </div>
                        <div class="person-meta">
                            <span class="person-name"><a href="{{ person.website }}" target="_blank">{{ person.name
                                    }}</a></span>
                            <br />
                            <span class="person-affliation">{{ person.affliation }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <br />
                <h3>Industry Session</h3>
                <!-- <hr /> -->
                <div class="row">
                    {% for company in site.industry %}
                    <img class="logo-box" src="{{ company.logo }}" width="auto" height="70px">
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>