<!-- Purpose Section -->
<section id="program" class="content-section text-left">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Program</h2>
                <p>Discuss recent advances in video understanding in the realm of video creation and editing. Some of
                    the topics that we plan to discuss are:</p>
                <p>Would AI kill video editing jobs?</p>
                <p>Can AI make humans reduce the cost of video productions?</p>
                <p>Are there any biases and threads by using AI in this field?</p>
                <h3>Detailed program: (tentative)</h3>
                <table class="table table-bordered" style="font-size: 1.25em;">
                    <thead>
                        <tr>
                            <th scope="col">Tentative Schedule</th>
                            <th scope="col">Pacific Daylight Time<br />2021-10-17 08:00 AM</th>
                            <th scope="col"><span class="local-timezone"></span><br /><span class="local-day"
                                    data-time="2021-10-17T08:00:00-07:00"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Introduction</th>
                            <td>08:00 AM - 08:30 AM</td>
                            <td><span class="local-time" data-time="2021-10-17T08:00:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T08:30:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Keynote I</th>
                            <td>08:30 AM - 09:15 AM</td>
                            <td><span class="local-time" data-time="2021-10-17T08:30:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T09:15:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Keynote II</th>
                            <td>09:15 AM - 10:00 AM</td>
                            <td><span class="local-time" data-time="2021-10-17T09:15:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T10:00:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Break</th>
                            <td>10:00 AM - 10:15 AM</td>
                            <td><span class="local-time" data-time="2021-10-17T10:00:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T10:15:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Keynote III</th>
                            <td>10:15 AM - 11:00 AM</td>
                            <td><span class="local-time" data-time="2021-10-17T10:15:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T11:00:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Panel Discussion</th>
                            <td>11:00 AM - 12:00 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T11:00:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T12:00:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Lunch Break</th>
                            <td>12:00 PM - 13:00 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T12:00:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T13:00:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Invited Works I</th>
                            <td>13:00 PM - 13:45 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T13:00:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T13:45:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Keynote IV</th>
                            <td>13:45 PM - 14:30 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T13:45:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T17:14:30-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Break</th>
                            <td>14:30 PM - 14:45 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T14:30:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T17:14:45-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Invited Works II</th>
                            <td>14:45 PM - 15:30 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T14:45:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T17:15:30-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Keynote V</th>
                            <td>15:30 PM - 16:15 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T15:30:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T16:15:30-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Industry Spotlights</th>
                            <td>16:15 PM - 18:15 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T16:15:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T18:15:00-07:00"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Closing Remarks</th>
                            <td>18:15 PM - 18:30 PM</td>
                            <td><span class="local-time" data-time="2021-10-17T18:15:00-07:00"></span> - <span
                                    class="local-time" data-time="2021-10-17T18:30:00-07:00"></span></td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <h3>Keynote Speakers</h3>
                <div class="row">
                    {% for person in site.speaker %}
                    <div class="col-lg-2">

                        <div class="person-image">
                            <img src="{{ person.avatar }}" class="person-avatar" width="100%" height="100%">
                        </div>
                        <div class="person-meta">
                            <span class="person-name"><a href="{{ person.website }}" target="_blank">{{ person.name
                                    }}</a></span>
                            <br />
                            <span class="person-affliation">{{ person.affliation }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <br />
                <h3>Industry Spotlights</h3>
                <div class="row">
                    {% for company in site.industry %}
                    <img class="logo-box" src="{{ company.logo }}" width="auto" height="70px">
                    {% endfor %}
                </div>
                <p>More to come ...</p>
            </div>
        </div>
    </div>
</section>