<!-- About Section -->
<section id="submission" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center">Call for Papers</h2>
            <h3>Topics</h3>
            <hr />
            <p>
                This workshop is for the 1st installment of the AI for Creative Video Editing and Understanding (CVEU).
                The workshop brings together researchers working on computer vision, machine listening, computer
                graphics, Human Computer Interaction, and cognitive research. It aims to bring awareness of recent
                advances in machine learning technologies to enable assisted creative-video creation and understanding.
                The workshop will include invited talks by experts in the area and give the community opportunities to
                share their work via oral and poster presentations. We encourage practitioners, designers, students,
                post-docs, and researchers to submit work describing new ideas, work-in-progress, and previously or
                concurrently published research. Topics of interest include but are not limited to:
            </p>
            <ul>
                <li>Computational Video Editing</li>
                <li>Computational Videography</li>
                <li>Long-term Video Understanding</li>
                <li>Emotion Recognition</li>
                <li>Event Understanding</li>
                <li>Human-centric Video Understanding</li>
                <li>Generative Adversarial Network for Video</li>
                <li>Sound Recognition</li>
                <li>Speech Recognition</li>
                <li>Story Understanding</li>
                <li>Video Description and Understanding</li>
                <li>Video Search and Retrieval</li>
                <li>Video Shortening</li>
                <li>Video Storyboarding</li>
                <li>Video Manipulation</li>
            </ul>
            <br />
            <br />
            <h3>Submission (Extended Abstract Track)</h3>
            <hr />
            <p>The Extended Abstract Track welcomes papers on the topics summarized above.
                The articles submitted to this track will <b><i>not</i></b> be published in conjunction
                with ICCV 2021 proceedings. So that you could submit it to other conferences or journals.
                All the accepted papers have opportunities to be presented during the workshop.
            </p>
            <h4>*Submission Guidelines*</h4>
            <p>The papers submitted to the Extended Abstract track must be unpublished and original work related to
                topics
                of the CVEU workshop. The papers are limited to *four (4)* pages, including figures and tables,
                formatted
                according to the ICCV style. Additional pages containing only cited references are allowed. All the
                submitted papers will go through a double-blind peer review process with no rebuttal or second review
                cycle. The accepted papers will <b><i>not</i></b> be published in conjunction with the ICCV 2021
                proceedings.
            </p>
            <p>
                For detailed formatting instructions, and LaTeX templates please refer to the
                <a href="http://iccv2021.thecvf.com/node/4#authors-guidelines" target="_blank">ICCV Submission
                    Guidelines</a>.
            </p>
            <p>
                All the paper submission will be handled by Microsoft CMT. Please submit your paper to our
                <a href="https://cmt3.research.microsoft.com/CVEU2021/" target="_blank">CVEU CMT Console</a>.
                (Please select the Extended Abstract Track)
            </p>
            <h4>*Important Dates*</h4>
            <li>Paper submission deadline: 10th September, 23:59 PST</li>
            <li>Acceptance notification to authors: 20th September, 23:59 PST</li>
            <li>Camera-ready deadline: 27th September, 23:59 PST</li>
            <li>Presentation material deadline: TBD</li>
            <br />
            <br />
            <h3>Submission (Invited Submission Track)</h3>
            <hr />
            <p>The Invited Submission Track welcomes published papers on the topics summarized above. We will
                invite the accpeted papers to be presented during the workshop.
            </p>
            <h4>*Submission Guidelines*</h4>
            <p>The papers submitted to the Invited Submission Track must be published work (e.g., accepted by ICCV 2021)
                related to topics
                of the CVEU workshop.
                All the submitted papers will have the opportunities to be presented during the workshop.
            </p>
            <p>
                Please complete this
                <a href="https://forms.gle/HG2U3n7G2PVQNEih6" target="_blank">Google Form</a> to submit your paper.
            </p>
            <h4>*Important Dates*</h4>
            <li>Paper submission deadline: 23rd September, 23:59 PST</li>
            <li>Acceptance notification to authors: 25th September, 23:59 PST</li>
            <li>Presentation material deadline: TBD</li>
            <br />
            <br />
            <h3>Submission (In-proceeding Track)</h3>
            <hr />
            <p>The CVEU workshop welcomes papers on the topics summarized above. We will publish articles in conjunction
                with ICCV 2021 proceedings. All the accepted papers have opportunities to be presented as orals or
                posters during the workshop.
            </p>
            <h4>*Submission Guidelines*</h4>
            <p>The papers submitted to the In-Proceedings track must be unpublished and original work related to topics
                of the CVEU workshop. The papers are limited to eight (8) pages, including figures and tables, formatted
                according to the ICCV style. Additional pages containing only cited references are allowed. All the
                submitted papers will go through a double-blind peer review process with no rebuttal or second review
                cycle. The accepted papers will be published in conjunction with the ICCV 2021 proceedings.
            </p>
            <p>
                For detailed formatting instructions, and LaTeX templates please refer to the
                <a href="http://iccv2021.thecvf.com/node/4#authors-guidelines" target="_blank">ICCV Submission
                    Guidelines</a>.
            </p>
            <p>
                All the paper submission will be handled by Microsoft CMT. Please submit your paper to our
                <a href="https://cmt3.research.microsoft.com/CVEU2021/" target="_blank">CVEU CMT Console</a>.
            </p>
            <h4>*Important Dates*</h4>
            <li><del>Paper submission deadline (extended): 6th August, 23:59 PST</del></li>
            <li><del>Acceptance notification to authors: 12th August, 23:59 PST</del></li>
            <li><del>Camera-ready deadline: 17th August, 20:59 PST</del></li>
            <li>Presentation materials: TBD</li>
        </div>
    </div>
</section>